<ion-header [translucent]="true" >
  
 
  <ion-toolbar color="success" >
    
    
    <ion-buttons slot="end">
      <ion-icon name="help-circle" style="font-size: 150%;"></ion-icon>
    </ion-buttons>

    <ion-title slot="start">Hawk EyesP</ion-title>

  
  </ion-toolbar>


</ion-header>

<ion-content >
  
  <div id="img">
    <ion-img src=".\assets\nissan_logo.jpeg"  ></ion-img>
  </div>

  <div id="Container">
    <p >Remote Application for Installation Validation</p><br>


    <ion-button  expand="full" (click)="newinstallation()">NEW INSTALLATION</ion-button><br>
    <ion-button expand="full">REVIEW INSTALLATION</ion-button><br>
  </div>


  <div>

    <p style="color: blue; font-size: 150%; text-align: center; margin-top: 0px;">Language</p><br>

  </div>
  <div style="margin-top: 0px;">
  
      <p style="color: red; font-size: 70%;" id="disclaimer">Version 5.0</p>
      <p style="color: red; font-size: 70%;" id="disclaimer">Proprietary Software</p>
      <p style="color: red; font-size: 70%;" id="disclaimer">Do not reprouce or redistribute without</p>
      <p style="color: red; font-size: 70%;" id="disclaimer">Confirmation</p>
    </div>