<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-button (click)="newinstallation()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>IEC-NEC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <p style="font-size: 100%; font-weight:bolder; text-align:center">Please Select Phase Type to record installation:</p><br>
    <ion-button expand="full" (click)="IECAlert()">IEC Standard</ion-button><br>
    <ion-button expand="full" (click)="NECAlert()">NEC Standard</ion-button><br>
  </div>

</ion-content>
